<%= render 'shared/page_title', title: "User" %>
<div class="col-lg-12 well">
        <strong> <h3> Username: <%= @user.name %></h3> </strong>
        <h4>Email of the user: <%= @user.email %></h4>
</div>
        