$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  padding-left: 20px;
  padding-right: 20px;  
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover
{
  color: white;
  text-decoration:none; 
}

h1 {
    margin-top: 2%;
}

body {
      margin-top: 10%;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  margin-top: 35px;
}